<html ng-app="app">
<head>
      <meta charset="utf-8">
      <title>mini-userProfiles</title>
      <link rel="stylesheet" href="style.css"></link>
</head>
<body ng-controller="ctrl">
  <div class="mainQuoteBox">
    <!-- Need
      -text input
      -autor input
    -->

    <div class="inputQuotes">
      <div class="">
        <span> Quote:<input ng-model="addText" required ></span>
      </div>
      <div class="">
        <span>Author:<input ng-model="addAuthor" required></span>
      </div>
    </div>

    <button ng-click="addQuotes({text:addText, author:addAuthor})">Add Quote</button>


    <div class="">
      <span>Search:<input ng-model="searchQuotes"></span>
    </div>



  </div>

  <div ng-repeat="q in quotes | filter:searchQuotes">
    <div class="mainQuoteBox">
      <div class="quoteBox">
        {{q.text}} <br> -{{q.author}}

      </div>
      <div class="removeQuoteButton">
        <button ng-click="removeQuotes(q.text)">Remove Quote</button>
      </div>

    </div>


  </div>







  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="./app.js"></script>
  <script src="./ctrl.js"></script>
  <script src="./mainService.js"></script>

</body>
</html>
