.mainQuoteBox{
  background: #ccc;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
